body {
    background: #f7f7f7;
    max-width: 900px;
    padding: 20px;

}

p {
    margin-bottom: 0.8em;
}

button {
    margin: 1em;
    background: lightgreen;
    border: 2px solid black;
    border-radius: 5px;
    font-size: large;
}

.checked {
    color: orange;
}

h2 {
    font-size: 1.2em;
    font-style: italic;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/****  SPLIT SCREEN   ****/
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    background: lightblue;
}

/* Control the right side */
.right {
    right: 0;
    background: lightgreen;
}

/* If you want the content centered horizontally */
.centered {
    /*position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    text-align: center;
}

/* Style the image inside the centered container, if needed */
img {
    width: 200px;
    border-radius: 7%;
}

.title {
    padding-left: 2%;
    padding-right: 2%;
}

#vote {
/*    padding-left: 55%;
    padding-bottom: 2%;*/
    position: fixed;
    bottom: 5%;
    left: 15%;
}